div{
  height: 800px;
  overflow-y: scroll;
}

table {
  margin: 10px auto;
  background-color: #ccc;
  border-collapse: collapse;
  cursor: pointer;
}

th {
  padding: 10px;
  background-color: blueviolet;
  color: white;
}

tr:nth-child(2n) {
  background-color: white;
}

tr :nth-child(1),
tr :nth-child(2) {
  text-align: center;
}

td {
  padding: 5px;
}
